
.admin-panel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
}
.admin-panel-header, .admin-panel-body {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.admin-panel-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-panel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-panel-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #333;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-panel-buttons button:hover {
  background-color: #555;
}

.admin-panel-body input {
  min-width: 40%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.price-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-table-header, .price-table-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.price-table-data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.price-table-header {
  background-color: #f1f1f1;
  font-weight: 600;
}

.price-column, .time-column, .update-column, .delete-column {
  width: 25%;
  text-align: center;
}

.update-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-button{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.update-button:hover {
  background-color: #0056b3;
}
.delete-button:hover{
  background-color: #c82333;
}

.price-update-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.price-update-form input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #d3b9b9;
  border-radius: 5px;
}

.price-update-form button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price-update-form button:hover {
  background-color: #218838;
}