.Panel-Container{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width:auto;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
    border: none;
    background-color: black;
    font-weight: 600;
    color: white;
    margin: 10px;
}
input{
    min-width: 40%;
    width: auto;
    min-height: 40px;
    border: 1px solid #333333;
    border-radius: 8px;
}
.panel-inside{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-admin{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tabela-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Tabela-ceny{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Tabela-ceny-under{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Tabela-up{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Tabela-ceny .cena, .Tabela-ceny .czas, .Tabela-ceny .update{
    display: flex;
    width: 33%;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.Tabela-ceny-under .cena, .Tabela-ceny-under .czas, .Tabela-ceny-under .update{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}